//- // All Optional
//- title                 : "New Pen!",
//- description           : "It's about stuff.",
//- private               : false, // true || false
//- tags                  : ["tag1", "tag2"], // an array of strings
//- editors               : "101", // Set which editors are open. In this example HTML open, CSS closed, JS open
//- layout                : "left", // top | left | right
//- html                  : "<div>HTML here.</div>",
//- html_pre_processor    : "none" || "slim" || "haml" || "markdown",
//- css                   : "html { color: red; }",
//- css_pre_processor     : "none" || "less" || "scss" || "sass" || "stylus",
//- css_starter           : "normalize" || "reset" || "neither",
//- css_prefix            : "autoprefixer" || "prefixfree" || "neither",
//- js                    : "alert('test');",
//- js_pre_processor      : "none" || "coffeescript" || "babel" || "livescript" || "typescript",
//- html_classes          : "loading",
//- head                  : "<meta name='viewport' content='width=device-width'>",
//- css_external          : "http://yoursite.com/style.css", // semi-colon separate multiple files
//- js_external           : "http://yoursite.com/script.js" // semi-colon separate multiple files
//-
//- // Deprecated Attributes
//-
//- // These go in the CSS itself now, like `@import "compass";`
//- css_pre_processor_lib : "bourbon" || "compass" || "nib" || "lesshat",
//-
//- // Link up in js_external if needed
//- js_modernizr : "true" || "false",
//- js_library   : "jquery" || "mootools" || "prototype",
html
  body
    form(action='http://codepen.io/pen/define', method='POST')
      input(type='hidden', name="data", value=`
        {
          "title": "New Pen!",
          "html": "<div>Hello, World!</div>"
        }
      `)
      input(type='submit')
